# tf_keras
pymongo
pymupdf  # use instead llama-index-readers-file pymupdf
torch
transformers
# sentence-transformers

# langchain_together
# sentence_transformers

# pyyaml

llama-index-embeddings-openai