# tf_keras
# sentence-transformers
# langchain_together
# sentence_transformers


#DBs
pymongo
PyGreSQL

#file extraction
pymupdf # maybe is ' llama-index-readers-file pymupdf '

# web interactions and protocols
requests
fitz
frontend

#embedders and transformers
torch
transformers
llama-index-embeddings-openai

#project setup and management
pyyaml
unittest