#DBs
pymongo
PyGreSQL
pinecone #also used for embedding

#file extraction
fitz
tools
pymupdf
llama_index

# web interactions and protocols
requests
frontend

#project setup and management
yaml
unittest